:root {
    --color-background: #F9FAFB; /* fundo quase branco */
    --color-surface: #FFFFFF;    /* blocos, cards, seções */
    --color-primary: #111827;    /* preto suave, para textos */
    --color-secondary: #6B7280;  /* cinza neutro para subtítulos */
    --color-accent: #2563EB;     /* azul suave para destaques ou links */
    --color-border: #E5E7EB;     /* linhas sutis e divisores */
    --color-hover: #1E40AF;      /* azul mais forte para hover */
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-background);
    height: 215vh;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    background-color: aquamarine;
    height: 240px;
    width: 100%;

    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}
header h1{
    font-size: 3rem;
}
header p{
    width: 600px;
}
header img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: #000000 4px solid;
    margin-left: 350px;
}

main{
    height: 85%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section1 {
    height: 1000px;
    width: 100%;
}
.habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.habilidades img{
    width: 60px;
}
.linguagens_programacao{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    justify-content: space-around;
}

.listas {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    width: 700px;
    gap: 20px;
    
}
.listas h2 {
    font-size: 1.8rem;
    width: 500px;
    height: 70px;
    color: var(--color-secondary);
}
.listas ul {
    height: 200px;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.2rem;
    color: var(--color-primary);
    gap: 10px;
}
.listas ul li {
    font-size: 1.4rem;
    display: flex; 
    justify-content: space-between;
    width: 350px;
}
.listas ul li img{
   width: 30px;
   height: auto;
}

.section2 {
    height: 400px;
    width: 100%;
    background-color: green;
}
.section3 {
    height: 400px;
    width: 100%;
    background-color: blue;
}
a {
    color: var(--color-accent);
}
footer{
    height: 100px;
    background-color: #90dc1f;
    width: 100%;
}